<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>ECommerce</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">A web page!</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin">Signin</a>
                </div>
            </header>                       
            <main class="main">
                <ul>
                    <li>Product1</li>
                    <li>Product2</li>
                    <li>Product3</li>
                    <li>Product4</li>
                </ul>
            </main>
            <footer class="footer">
                All rights reserved
            </footer>
        </div>
    </body>
</html>